<launch>
    <arg name="config_name" value="real_nav.rviz" />
    <arg name="map_path" value="$(find test_dingo)/maps/main_lab.yaml" />

    <!-- 1. 发布transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_laser" args="0 0 0.20 3.14 0 0 /mid_mount /laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_camera_link" args="0.05 0 0.18 0 0 0 /mid_mount /camera_link" />

    <!-- 2. 加载rviz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find test_dingo)/config/$(arg config_name)" />

    <!-- 3. 加载map_server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)"/>


    <!-- 4. 加载amcl -->
    <include file="$(find test_dingo)/launch/real02_amcl.launch"/>

    <!-- 5. 加载costmap_2d -->
    <rosparam file="$(find test_dingo)/params/real_costmap_2d_dingo_global.yaml" command="load" ns="/costmap_global/costmap" />
    <rosparam file="$(find test_dingo)/params/real_costmap_2d_dingo_local.yaml" command="load" ns="/costmap_local/costmap" />
    <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_global" output="screen"/>
    <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_local" output="screen"/>
</launch>

