<launch>
    <!-- 加载rviz -->
    <!-- 启动 rviz, 打开rviz，读取指定config  -->
    <arg name="config_name" default="config03.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find test_dingo)/config/$(arg config_name)" />

    <!-- 加载gmapping节点 -->
    <include file="$(find test_dingo)/launch/nav01_gmapping.launch"/>
</launch>