<!-- 测试将深度点云转为scan数据并用于slam -->
<launch>
    <!-- 加载仿真环境 -->
    <include file="$(find test_dingo)/launch/env.launch" >
        <arg name="config_name" value="slam.rviz" />
        <arg name="world_name" value="corridor_world.world" />
    </include>

    <!-- 加载gmapping节点 -->
    <include file="$(find test_dingo)/launch/nav01_gmapping.launch"/>

    <!-- 加载depthimage_to_laserscan节点 -->
    <include file="$(find test_dingo)/launch/nav06_depthimage_to_laserscan.launch"/>
</launch>