<launch>
    <!-- 加载仿真环境 -->
    <include file="$(find test_dingo)/launch/env.launch" >
        <arg name="config_name" value="move_base.rviz" />
        <arg name="world_name" value="corridor_world.world" />
        <!-- <arg name="world_name" default="dingo_race.world" /> -->
    </include>

    <!-- 运行map_server来加载地图 -->
    <arg name="map_path" value="$(find test_dingo)/maps/map_corridor_world_gmapping.yaml" />
    <!-- <arg name="map_path" value="$(find test_dingo)/maps/dingo_race.yaml" /> -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_path)"/>

    <!-- 加载amcl节点 -->
    <include file="$(find test_dingo)/launch/nav03_amcl.launch"/>

    <!-- 加载move_base节点 -->
    <include file="$(find test_dingo)/launch/nav04_move_base.launch"/>
</launch>