<!-- 一边slam一边导航：需要集成slam + move_base -->
<launch>
    <!-- env -->
    <include file="$(find test_dingo)/launch/env.launch" >
        <arg name="world_name" default="corridor_world.world"/>
        <arg name="config_name" default="move_base.rviz"/>
    </include>

    <!-- slam -->
    <include file="$(find test_dingo)/launch/nav01_gmapping.launch"/>

    <!-- move_base -->
    <include file="$(find test_dingo)/launch/nav04_move_base.launch"/>
</launch>
